<html>

<head>
  <title>Hello</title>
  <meta name="decorator" content="atl.general" />
</head>

<body>
  <div class="aui-page-panel">
    <div class="aui-page-panel-inner">
      <section class="aui-page-panel-content">

        <div class="form-body">
          <div class="field-group">
            <h3>Oops!</h3>
            <p></p>
            <p><font color="red">Something is wrong!</font></p>
            <p></p>
          </div>
        </div>
        <div class="buttons-container form-footer">
          <form class="aui" method="POST" action="$requestContext.baseUrl/secure/Hello!default.jspa">
            <button class="aui-button aui-button-primary">Try again</button>
          </form>
        </div>

      </section>
    </div>
  </div>
</body>

</html>