#disable_html_escaping()

<h1>PluginSettings Viewer</h1>

<button id="open-viewer-button" class="aui-button aui-button-primary">Open SettingsViewer</button>

<section id="settings-viwer-dialog" class="aui-dialog2 aui-dialog2-medium aui-layer" data-aui-modal="true" role="dialog" aria-hidden="true">
    <header class="aui-dialog2-header">
        <h2 class="aui-dialog2-header-main"></h2>
        <button class="aui-dialog2-header-close" aria-label="close">
            <span class="aui-icon aui-icon-small aui-iconfont-close-dialog"></span>
        </button>
    </header>
    <div class="aui-dialog2-content">
    </div>
    <footer class="aui-dialog2-footer">
        <div class="aui-dialog2-footer-actions">
            <button id="dialog-submit-button" class="aui-button aui-button-primary">OK</button>
            <button id="dialog-cancel-button" class="aui-button aui-button-link">Cancel</button>
        </div>
    </footer>
</section>